body {
    background-image: url(./background.jpg);
    background-color: blanchedalmond;
    height: 100vh; /* Opcional: ajusta el alto de la página completa */
    margin: 0;
}
.container-base {
    background-color: #0e082c; 
    width: 55em; /* Ancho del div en píxeles */
    height: 35em; /* Alto del div en píxeles */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    box-shadow: 2px 2px 6px rgb(14 8 44 / 97%)
}
.container-children{
    display: flex;
    width: 40em; /* Ancho del div en píxeles */
    height: 25em; /* Alto del div en píxeles */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 100px 10px; 
    flex-direction: column;
}
.inputs {
    display: flex; /* Utilizamos Flexbox para lograr la disposición en fila */
    /* Puedes ajustar los márgenes y otros estilos del contenedor principal según tus necesidades */
    margin: 20px;
    padding: 10px;
    margin-bottom: 0cm;
}
.form-group {
    display: block;
    margin-bottom: 15px;
    /*padding: 20px;
    margin: 10px;*/
    border-radius: 5px;
    flex: 1; /* La sección ocupará todo el ancho disponible */
    align-items: flex-start;
}

/* Estilo para el label */
.form-group label {
    display: block;/* Hace que el label sea un elemento de bloque */
    font-weight: bold; /* Opcional: Establece negrita para el label */
    /* Ajusta los márgenes del label según tus necesidades */
    margin-bottom: 5px; /* Espaciado inferior entre el label y el input */
    color: rgb(161, 155, 155);
    
}


/* Estilo para el input */
.form-group input {
    display: block; /* Hace que el input sea un elemento de bloque */
    margin-top: 5px;
    width: 100px; /* Ajusta el ancho aquí según tus necesidades */
    padding: 8px; /* Opcional: ajusta el relleno interno del input */
    font-size: 18px; /* Opcional: ajusta el tamaño de fuente del texto */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    outline: none;
}

.form-group input::placeholder {
    /* Puedes ajustar el color, tamaño de fuente y otros estilos del placeholder según tus necesidades */
    color: rgb(161, 155, 155);
    font-size: 18px;
    /*font-style: ari;*/
    font-weight: bold;
}

.form-group input:focus {
    border-color: #864cff; /* Cambia el color del borde cuando el input está enfocado */
}

.mi-result {
    flex-direction: column;
    /* Ajusta el ancho y el espacio entre los párrafos según tus necesidades */
    width: 300px;
    gap: 10px;
    margin: 20px;
    margin-top: 0px;
    padding-top: 0px;
}

/* Estilos para los párrafos */
.mi-result p {
    margin: 0;
    padding: 10px;
    font-weight: bold;
    font-size: 40px;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
}
.mi-result p span {
    color:#864cff;
}

.line button{
    margin-left: 500px; /* Empuja el botón al final de la línea */
    padding: 10px;
    background-color: #864cff;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    
}
.line button img{
    height: 30px;
    width: 30px;
}
.attribution { 
    font-size: 11px; 
    text-align: center;
    color: burlywood;
    position: absolute;
    bottom: 5%;
    left: 30%;
}

.attribution a { 
    color: hsl(0, 0%, 100%); 
}

