body{
    background-image: url(./background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Esto evita que el fondo se desplace con el contenido */
}
.container{
    background-color: #36384d;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 500px;
    position: relative;
}

.row{
    background-color: white;
    position: relative;
    margin-right: 5%;
    margin-left: 5%;
}

.attribution { 
    color: white;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color:#c5633c; 
}