
/* STYLES OF RESULT*/
.rs-main{
    background-color: #563bf8;
}
.rs-main *{
    padding: 10px;
}
.rs-title{
    font-size: 18px;
}
.rs-score{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(#4b24cd 50%, #563bf8); 
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(228, 228, 228); /* Color del texto */
    line-height: 1px;
}
.rs-score .rs-score-76 {
    font-size: 50px;
    color: white;
}
/* STYLES OF SUMMARY*/
.sm-main{
    background-color: white;
}
.sm-main .sm-title {
    text-align: left;
}
.sm-elements div {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
/* STYLES OF FOOTER */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }