
/* STYLES OF RESULT*/
.rs-main{
    background-color: #563bf8;
}
.rs-title{
    font-size: 18px;
}
/* STYLES OF SUMMARY*/
.sm-main{
    background-color: white;
}
/* STYLES OF FOOTER */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }